
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    padding: 20px;
}


.container {
    width: 400px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}


h1 {
    text-align: center;
    margin-bottom: 20px;
}


input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #aaa;
    border-radius: 5px;
    font-size: 16px;background-color: #00A1E4;color: #DC0073;
}


button {
    width: 100%;
    padding: 12px;
    background: #04E762;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #04E762;
}


#result {
    margin-top: 20px;
    padding: 15px;
    background: #e8ffe8;
    border-radius: 5px;
    font-size: 18px;
}

body{background-color: #F5B700;}
h1, h2, h3, h4, h5, h6 {
    color: #DC0073;   /* blue */
    font-family: 'Poppins', sans-serif;
}



body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

h1, h2, h3 {
    text-align: center;
}

input, button {
    padding: 10px;
    width: 300px;
    max-width: 100%;
    margin: 5px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

#names, #expenses, #results-section {
    width: 90%;
    max-width: 600px;
    margin: auto;
    padding: 15px;
    background: white;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

#checkboxes label {
    display: block;
    padding: 3px 0;
}



@media (max-width: 600px) {

    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 20px;
    }

    input, button {
        width: 100%;          
        font-size: 16px;
    }

    #names, #expenses, #results-section {
        width: 94%;
        padding: 10px;
    }

    body {
        padding: 10px;
    }

    #checkboxes label {
        font-size: 16px;
    }
}



@media (max-width: 420px) {
    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 18px;
    }

    input, button {
        font-size: 14px;
        padding: 8px;
    }
}



h1 {
    font-size: 40px;
    text-align: center;
    font-weight: 900;
    background: linear-gradient(
        90deg,
        #ff8a00,
        #e52e71,
        #5f0a87,
        #00c6ff,
        #ff8a00
    );
    -webkit-background-clip: text;
    color: transparent;
    background-size: 400%;
    animation: moveGradient 6s linear infinite;
}


@keyframes moveGradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


body {
    background-color: #D6D3F0;
}
