/* Reset default spacing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Page background */
body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    padding: 20px;
}

/* Main container */
.container {
    width: 400px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

/* Headings */
h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Input fields */
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #aaa;
    border-radius: 5px;
    font-size: 16px;background-color: #00A1E4;color: #DC0073;
}

/* Button styling */
button {
    width: 100%;
    padding: 12px;
    background: #04E762;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #04E762;
}

/* Output section */
#result {
    margin-top: 20px;
    padding: 15px;
    background: #e8ffe8;
    border-radius: 5px;
    font-size: 18px;
}

body{background-color: #F5B700;}
h1, h2, h3, h4, h5, h6 {
    color: #DC0073;   /* blue */
    font-family: 'Poppins', sans-serif;
}
